# Binaries for programs and plugins
# Original template copied from: https://github.com/github/gitignore/blob/master/Go.gitignore 
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

#Jetbrains artifacts
.idea/

#Ancillary dirs and files that should not be checked in
reports/
myNotes/
mytestdata/
pkg/
docs/

#personal artifacts
*.bat
*.sh

# Dependency directories (remove the comment below to include it)
/mytestdata/
/myNotes
/devNotes/
