name: Go build and test
env:
  GO111MODULE: "on"
on:

  push:
    paths-ignore:
      - '*.md'
    branches: [ main ]
    
  pull_request:
    branches: [ main ]
    
  workflow_dispatch:  # Run on demand.

jobs:

  build-and-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@main

    - name: Set up Go
      uses: actions/setup-go@main
      with:
        go-version: '1.24.x'
        cache: true
        cache-dependency-path: "**/go.sum"
      
    - name: Add Go to PATH
      shell: bash
      run: echo "$HOME/go/bin" >> $GITHUB_PATH
      
    - name: Setup JDK
      uses: actions/setup-java@main
      with:
        distribution: 'oracle'
        java-version: '21'

    - name: Build Jacobin
      shell: bash
      run: |
        pwd
        cd src
        if [[ "$RUNNER_OS" == "Windows" ]]; then
            go build -o "$HOME/go/bin/jacobin.exe" .
        else
            go build -o "$HOME/go/bin/jacobin" .
        fi
        jacobin -h
        which jacobin

    - name: go test
      shell: bash
      run: |
        pwd
        export JACOBIN_TOP=`pwd`
        export JACOBIN_TESTDATA=$JACOBIN_TOP/testdata
        cd src
        export JACOBIN_EXE=$HOME/go/bin/jacobin
        which jacobin
        go test -timeout 3m ./...
