# On demand, this workflow will run jacotest against https://github.com/platypusguy/jacobin.

name: Jacotest with platypusguy Jacobin

on:
  workflow_dispatch:  # Run on demand.

jobs:

  run_jacobin:
    strategy:
      matrix:
        
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@main

    - name: Setup Go
      uses: actions/setup-go@main
      with:
          go-version: '1.25.x'
          cache: true
          cache-dependency-path: "**/go.sum"
          
    - name: Add Go to PATH
      shell: bash
      run: echo "$HOME/go/bin" >> $GITHUB_PATH
      
    - name: Setup JDK
      uses: actions/setup-java@main
      with:
        distribution: 'oracle'
        java-version: '21'

    - name: Build Jacobin
      shell: bash
      run: |
        cd src
        if [[ "$RUNNER_OS" == "Windows" ]]; then
            go build -o "$HOME/go/bin/jacobin.exe" .
        else
            go build -o "$HOME/go/bin/jacobin" .
        fi
        jacobin -h
        
    - name: Setup Jacotest
      shell: bash
      run: |
        git clone https://github.com/texadactyl/jacotest.go
        cd jacotest.go/src
        if [[ "$RUNNER_OS" == "Windows" ]]; then
            go build -o "$HOME/go/bin/jacotest.exe" .
        else
            go build -o "$HOME/go/bin/jacotest" .
        fi
        cd ..
        jacotest -h

    - name: Run Test Cases
      shell: bash
      run: |
        cd jacotest.go
        jacotest -c -x || true

    - name: Summary of Results
      shell: bash
      run: |
        cd jacotest.go
        jacotest -r 3
